<div class="row">
    <aside class="col-sm-4">
        <%= render 'usercard', user: @user %>
    </aside>
    <div class="col-sm-8">
        <%= render 'navtabs', user: @user %>
        <%= render 'users', users: @followers %>
    </div>
</div>